
/*Menu*/
#menu_container {
  position: fixed;

  display: flex;
  flex-direction: column;

  left: 0px;
  margin-left: max( var(--padding), 1em );

  grid-column: 2;
  height: 100vh;

  align-items: center;

  margin-top: 1em;
}

#menu_mascot {
  font-size: 2em;
  cursor: pointer;
  align-self: center;
}
@media (min-width: 1280px) {
  #menu_container {
    align-items: flex-start;
  }
}
.menu_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50%;
  padding: .5em;
  margin-top: .7em;
  cursor: pointer;
}
.menu_button:hover {
  color: #FF66CC;
  background-color: #FFCCFF55;
}
@media (min-width: 1280px) {
  .menu_button {
    border-radius: 24px;
    padding: .25em;
    padding-left: 1em;
    padding-right: 1em;
    margin: .25em;
    margin-top: 1.75em;
  }
}
.menu_text {
  display: none;
}
@media (min-width:1280px) {
  .menu_text {
    display: inline-block;
    padding-left: 1em;
    font-size: 1.4em;
    font-weight: bold;
  }
}
/*New Oink Button not updating*/
#menu_button_new_oink {
  padding: 1em;
  border-radius: 50%;

  background-color: #FFB8F8;

  margin-top: 2em;
  margin-bottom: 4em;

  cursor: pointer;
}
#menu_button_new_oink:hover {
  background-color: #FFA8ED;
}
@media (min-width: 1280px) {
  #menu_button_new_oink {
    padding-left: 2em;
    padding-right: 2em;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: calc( 100% - 4em );
    border-radius: 24px;
  }
}
#menu_text_new_oink {
  display: none;
}
#menu_icon_new_oink {
  display: flex;
}
@media (min-width:1280px) {
  #menu_text_new_oink {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  #menu_icon_new_oink {
    display: none;
  }
}
.menu_piggy {
  width: 50px;
}

@media (max-width:499px) {
  #root_container {
    grid-template-rows: 10px auto 10px;
  }
  #menu_container {
    flex-direction: row;
    bottom: 0px;
    height: unset;
    background: white;
  }
  #menu_button_new_oink {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #menu_mascot {
    grid-row: 1;
  }
}
