#edit_profile_modal {
  display: none;
  width: 60%;
  height: 70%;
  background: white;
  border-radius: 16px;
}
#edit_profile_modal_title_bar {
  display: flex;
  flex-direciton: row;
}
#edit_profile_modal_exit_button {
  color: pink;
  font-size: 2em;
}
#edit_profile_modal_save_button {
  background: pink;
  color: white;
  border-radius: 22px;
  font-size: 1.5em;
  padding: .4em;
}
#edit_profile_modal_save_button:hover {
  background: blue;
}
#edit_profile_icon_container {
  width: 6em;
  height: 6em;
  grid-column: 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#edit_profile_icon_container:hover {
  border: 1px black solid;
}


#profile_container {
  display: none;
  width: 100%;
}
#edit_profile_icon_selector {
  position: absolute;
  width: 2em;
  height: 2em;
  border: 5px solid black;
  border-radius: 5px;
}

#upload_icon {
  border: 0px;
  background: #00000000;
  font-weight: bold;
  font-size: 2em;
  color: pink;
}
#upload_icon:hover {
  color: black;
}

#upload_background {
  position: absolute;
}

#edit_profile_textarea_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 2em;
  margin-left: 5%;
  margin-right: 5%;
/*  overflow-y: scroll;*/
}

#edit_profile_nym {
  resize: none;
  width: 100%;
  margin-bottom: 2em;
}
#edit_profile_description {
  resize: none;
  width: 100%;
  margin-bottom: 2em;
}
#edit_profile_location {
  resize: none;
  width: 100%;
  margin-bottom: 2em;
}
