/*Root*/
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
#root_container {
  display: grid;
  --main_width: calc( 100vw - 10vw - 4em );
  --opt_width: calc( 100vw - 10vw );
  grid-template-columns: 0vw 4em var(--main_width) var(--opt_width) 0vw;
}
@media (min-width: 500px) {
  #root_container {
    --main_width: calc( 94vw - 4em );
    --opt_width: 0px;
    grid-template-columns: 3vw 4em var(--main_width) var(--opt_width) 3vw;
  }
}
@media (min-width: 700px) {
  #root_container {
    --main_width: calc( 90vw - 10em );
    --opt_width: 0px;
    grid-template-columns: 5vw 10em var(--main_width) var(--opt_width) 5vw;
  }
}
@media (min-width: 999px) {
  #root_container {
    --main_width: calc( 100vw - 12em );
    --opt_width: 0px;
    grid-template-columns: 5vw 4em var(--main_width) var(--opt_width) 5vw;
  }
}
@media (min-width: 1000px) {
  #root_container {
    --main_width: min( 500px, calc( 55vw - 5em ) );
    --opt_width: min( 400px, calc( 35vw - 5em ) );
    --padding: calc( (100vw - ( var(--main_width) + var(--opt_width) + 10em)) / 2 );
    grid-template-columns: var(--padding) 10em var(--main_width) var(--opt_width) var(--padding);
  }
}

/*Padding*/
.page_padding {
  width: 100%;
  height: 100vh;
}
#left_padding {
  grid-column: 1;  
}
#right_padding {
  grid-column: 5;
}

/*Menu*/
#menu_container {
  grid-column: 2;
  background-color: green;
  width: 100%;
  height: 100vh;
}

/*Main*/
#main_container {
  grid-column: 3;
  background-color: yellow;
  width: 100%;
  height: 100vh;
}

/*Optional*/
#opt_container {
  grid-column: 4;
  background-color: purple;
  width: 100%;
  height: 100vh;
}
