/*Root*/
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
#root_container {
  display: grid;
  --main_width: calc( 100vw - 10vw - 4em );
  --opt_width: calc( 100vw - 10vw );
  --padding: 0px;
  grid-template-columns: 0vw 6em var(--main_width) var(--opt_width) 0vw;
}
@media (min-width: 500px) {
  #root_container {
    --main_width: calc( 94vw - 6em );
    --opt_width: 0px;
    --padding: 0px;
    grid-template-columns: 3vw 6em var(--main_width) var(--opt_width) 3vw;
  }
}
@media (min-width: 700px) {
  #root_container {
    --main_width: 600px;
    --opt_width: 0px;
    --padding: calc( (100vw - (600px + 6em)) / 2 );
    grid-template-columns: var(--padding) 6em var(--main_width) var(--opt_width) var(--padding);
  }
  #opt_container {
    display: none;
  }
}
@media (min-width: 1000px) {
  #root_container {
    --main_width: 600px;
    --opt_width: 350px;
    --padding: calc( (100vw - (950px + 6em)) / 2 );
    grid-template-columns: var(--padding) 6em var(--main_width) var(--opt_width) var(--padding);
  }
  #opt_container {
    display: flex;
  }
}
@media (min-width: 1280px) {
  #root_container {
    --main_width: 600px;
    --opt_width: 400px;
    --padding: calc( (100vw - ( var(--main_width) + var(--opt_width) + 16em)) / 2 );
    grid-template-columns: var(--padding) 16em var(--main_width) var(--opt_width) var(--padding);
  }
}

/*Padding*/
.page_padding {
  width: 100%;
  height: 100vh;
}
#left_padding {
  grid-column: 1;  
}
#right_padding {
  grid-column: 5;
}

/*Main*/
#main_container {
  grid-column: 3;
  width: 100%;
  height: 100vh;
}

/*Optional*/
#opt_container {
  grid-column: 4;
  width: 100%;
  height: 100%;
}

/*Google icons*/
.material-icons.md-42 {
  font-size: 32px;
}




/*Oink*/
#home_container_title {
  font-size: 2em;
  border-top: 1px #99996633 solid;
  border-left: 1px #99996633 solid;
  border-right: 1px #99996633 solid;
  padding: 0.5em;
}


/*News Items*/
#news_items_container {
  margin-top: 2em;
  border-radius: 1em;
  background-color: #99996620;
  margin-left: 2em;
  margin-bottom: 4em;
  height: fit-content;
  padding-bottom: 1em;
  border: 1px #99996633 solid;
}
.news_items_title {
  font-size: 1.6em;
  font-weight: bolder;
  margin-top: 1em;
  padding-left: 1em;
  padding-bottom: .5em;
  border-bottom: 1px #99996633 solid;
}
.news_item_container {
  border-bottom: 1px #99996633 solid;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.news_item_container:hover {
  background: #99996610;
}
.news_item_topic {
  margin-top: .5em;
  color: grey;
  font-size: .9em;
}
.news_item_headline {
  font-size: 1.3em;
  font-weight: bold;
}
.news_item_message {
  margin-bottom: 1em;
  font-size: 1.2em;
  color: grey;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#modal_background {
  background: #00000044;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

#upload_icon {
  position: absolute;
}
