/*Root*/
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
#root_container {
  display: grid;
  --main_width: calc( 100vw - 10vw - 4em );
  --opt_width: calc( 100vw - 10vw );
  --padding: 0px;
  grid-template-columns: 0vw 6em var(--main_width) var(--opt_width) 0vw;
}
@media (min-width: 500px) {
  #root_container {
    --main_width: calc( 94vw - 6em );
    --opt_width: 0px;
    --padding: 0px;
    grid-template-columns: 3vw 6em var(--main_width) var(--opt_width) 3vw;
  }
}
@media (min-width: 700px) {
  #root_container {
    --main_width: 600px;
    --opt_width: 0px;
    --padding: calc( (100vw - (600px + 6em)) / 2 );
    grid-template-columns: var(--padding) 6em var(--main_width) var(--opt_width) var(--padding);
  }
  #opt_container {
    display: none;
  }
}
@media (min-width: 1000px) {
  #root_container {
    --main_width: 600px;
    --opt_width: 350px;
    --padding: calc( (100vw - (950px + 6em)) / 2 );
    grid-template-columns: var(--padding) 6em var(--main_width) var(--opt_width) var(--padding);
  }
  #opt_container {
    display: flex;
  }
}
@media (min-width: 1280px) {
  #root_container {
    --main_width: 600px;
    --opt_width: 400px;
    --padding: calc( (100vw - ( var(--main_width) + var(--opt_width) + 16em)) / 2 );
    grid-template-columns: var(--padding) 16em var(--main_width) var(--opt_width) var(--padding);
  }
}

/*Padding*/
.page_padding {
  width: 100%;
  height: 100vh;
}
#left_padding {
  grid-column: 1;  
}
#right_padding {
  grid-column: 5;
}

/*Menu*/
#menu_container {
  position: fixed;

  display: flex;
  flex-direction: column;

  left: 0px;
  margin-left: max( var(--padding), 1em );

  grid-column: 2;
/*  width: 100%;*/
  height: 100vh;

  align-items: center;

  margin-top: 1em;
}
#menu_mascot {
  font-size: 2em;
  cursor: pointer;
  align-self: center;
}
@media (min-width: 700px) {
  #menu_mascot {
/*    margin-left:1em; */
  }
}
@media (min-width: 1280px) {
  #menu_container {
    align-items: flex-start;
  }
}
.menu_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50%;
  padding: .5em;
/*  border: 1px black solid;*/
  margin-top: .7em;
  cursor: pointer;
}
.menu_button:hover {
  color: #FF66CC;
  background-color: #FFCCFF55;
}
@media (min-width: 1280px) {
  .menu_button {
    border-radius: 24px;
    padding: .25em;
    padding-left: 1em;
    padding-right: 1em;
    margin: .25em;
    margin-top: 1.75em;
  }
}
.menu_text {
  display: none;
}
@media (min-width:1280px) {
  .menu_text {
    display: inline-block;
    padding-left: 1em;
    font-size: 1.4em;
    font-weight: bold;
  }
}
  /*New Oink Button*/
#menu_button_new_oink {
  padding: 1em;
  border-radius: 50%;

/*  border-radius: 24px;*/
  background-color: #FFB8F8;

  margin-top: 2em;

  cursor: pointer;
}
#menu_button_new_oink:hover {
  background-color: #FFA8ED;
}
@media (min-width: 1280px) {
  #menu_button_new_oink {
    padding-left: 2em;
    padding-right: 2em;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: calc( 100% - 4em );
    border-radius: 24px;
  }
}
#menu_text_new_oink {
  display: none;
}
#menu_icon_new_oink {
  display: flex;
}
@media (min-width:1280px) {
  #menu_text_new_oink {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  #menu_icon_new_oink {
    display: none;
  } 
}

/*Main*/
#main_container {
  grid-column: 3;
  width: 100%;
  height: 100vh;
}

/*Optional*/
#opt_container {
  grid-column: 4;
  width: 100%;
  height: 100%;
}

/*Google icons*/
.material-icons.md-42 {
  font-size: 32px;
}

/*New Oink*/
#new_oink_container {
  display: grid;
  grid-template-columns: 3em auto;
  margin-bottom: 1em;
  padding-bottom: .8em;
  border-bottom: 1px #99996633 solid;
}
#new_oink_icon_container {
  width: 3em;
  height: 3em;
  grid-column: 1;
}
#new_oink_icon {
  border-radius: 50%;
  background: purple;
  height: 100%;
  width: 100%;
}
#new_oink_message_container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}
#new_oink_message {
  margin-top: .6em;
  margin-left: .3em;
  border: 0px;
  font-size: 1.2em;
  outline: none;
  width: 100%;
  overflow-wrap: anywhere;
  border-bottom: 1px #99996633 solid;
  color: #80808066;
}
/*#new_oink_message:focus {
  color: black;
}*/
/*#new_oink_message::placeholder {
  color: #80808066;
}*/
#new_oink_button_container {
  width: 100%;
  grid-column: 2;
  display: flex;
  flex-direction: column;
}
#new_oink_button {
  border-radius: 18px;
  background-color: #FFB8F8;
  border: 0px;
  font-size: 1.2em;
  font-weight: bold;
  color: #0000AAAA;
  padding: .7em;
  width: 4.5em;
  align-self: flex-end;
  cursor: pointer;
}
#new_oink_button:hover {
  background-color: #FFA8ED;
}


/*Oink*/
#home_container_title {
  font-size: 2em;
}
.oink {
  display: grid;
  grid-template-rows: 2em 4em auto;
  grid-template-columns: 6em calc( 100% - 2em );

  border-bottom: 1px #99996633 solid;
  border-left: 1px #99996633 solid;
  border-right: 1px #99996633 solid;
}

.oink_icon_container {
  disaply: flex;
  justify-conent: center;
  align-items: center;

  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;

  width: 100%;
  height: 100%;
}
.oink_icon {
  border-radius: 50%;
  background: purple;
  width: 60%;
  height: 60%;
  margin-top: .75em;
  margin-left: .75em;
}

.oink_name_container {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.oink_nym {
  font-weight: bold;
}
.oink_name_id {

}
.oink_time {

}

.oink_message_container {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;

  margin-top: .3em;
}
.oink_message {

}
.oink_button_container {
  margin-top: 1em;
  margin-bottom: .2em;
}


/*News Items*/
#news_items_container {
  margin-top: 2em;
  border-radius: 1em;
  background-color: #99996620;
  padding: 1em;
  margin-left: 2em;
  margin-bottom: 4em;
}
.news_items_title {
  font-size: 1.5em;
  font-weight: bold;
/*  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;*/
}
.news_item_container {
  border-bottom: 1px #99996633 solid;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.news_item_topic {
  margin-top: .5em;
  color: grey;
  font-size: .9em;
}
.news_item_headline {
  font-size: 1.5em;
  font-weight: bold;
}
.news_item_message {
  margin-bottom: 1em;
  font-size: 1.2em;
  color: grey;
}
