.oink {
  display: grid;
  grid-template-rows: 2em auto auto;
  grid-template-columns: 6em calc( 100% - 2em );
  border-bottom: 1px #99996633 solid;
/*  border-left: 1px #99996633 solid;
  border-right: 1px #99996633 solid;*/
}
.oink:hover {
  background: #80808066;
}
.oink_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
  margin-top: .75em;
  margin-left: .75em;
  background: white;
}
.oink_icon {
  background: white;
}

.oink_name_container {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.oink_nym {
  font-weight: bold;
}
.oink_time {
  color: grey;
}
.oink_message_container {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-top: .3em;
}
.oink_message {
  overflow-wrap: normal;
  word-break: break-word;
  width: 81%;
}
@media (max-width: 499px) {
  .oink {
    grid-template-columns: 4em calc( 100% - 2em );
  }
  .oink_message {
    width: 80%;
  }
/*  .oink_message {
    width: 75%;
  }*/
  .oink_icon_container {
    margin-lefT: .35em;
  }
}
.oink_button_container {
  margin-top: 1em;
  margin-bottom: .2em;
}

#home_container_title_bar {
  display: none;
}
#title_bar_icon {
  display: none;
}
#title_bar_piggy {
  display: none;
  width: 50px;
}
@media (max-width:499px) {
  #home_container_title_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background: white;
    width: 100%;
    border-bottom: 1px #99996633 solid;
    top: 0px;
  }
  #home_container_title {
    display: none;
  }
  #new_oink_container {
    margin-top: 40px;
  }
  #title_bar_icon {
    display: inline;
  }
  #title_bar_piggy {
    display: inline;
  } 
}
